body {
  background: #0b132b;
  color: white;
  text-align: center;
  font-family: Arial;
  padding: 10px;
}

h1 {
  margin-top: 40px;
  font-size: 28px;
}

a {
  color: #3ae8ff;
  display: block;
  margin: 15px 0;
  text-decoration: none;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  font-size: 18px;
  color: #ffd166;
}

.card {
  background: #1f2a47;
  padding: 25px;
  margin: 20px auto;
  border-radius: 12px;
  width: 90%;
  font-size: 18px;
  text-align: left;
  white-space: pre-wrap;
}

.code-box {
  background: #2a3b59;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  white-space: pre-wrap;
}

.code-html { color: #ff6b6b; }
.code-css { color: #6bcfff; }
.code-js { color: #ffde6b; }

textarea {
  width: 95%;
  height: 150px;
  background: #1f2a47;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-family: monospace;
  margin-bottom: 10px;
}

iframe {
  width: 100%;
  height: 200px;
  border: 1px solid #3a86ff;
  border-radius: 10px;
  margin-top: 10px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background: #3a86ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #5aa0ff;
}

#progress {
  margin-top: 10px;
  font-size: 16px;
  color: #38bdf8;
}

#xp-bar, #level-bar {
  width: 90%;
  height: 20px;
  background: #2a3b59;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
}

#xp-fill {
  width: 0%;
  height: 100%;
  background: #ffd166;
  transition: width 0.3s;
}

#level-fill {
  width: 0%;
  height: 100%;
  background: #38bdf8;
  transition: width 0.3s;
}

#quiz-options button {
  display: block;
  margin: 8px auto;
  width: 80%;
}